doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel="stylesheet" href="/css/skandinavisk.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
  body
    p
      form
        textarea#text(name="q") #{text}
        input#submit(type="submit" name="d" value="English to da/no/sv")
        input#submit(type="submit" name="d" value="Skandinavisk understanding")
    table
      tr
        th 🇩🇰 dansk
        th 🇳🇴 norsk
        th 🇸🇪 svensk

      tr
        td
          p #{da}
          audio(controls="controls")
            source(src=`/speak/da-DK/${da}.mp3` type="audio/mpeg")
        td
          p #{no}
          audio(controls="controls")
            source(src=`/speak/nb-NO/${no}.mp3` type="audio/mpeg")
        td
          p #{sv}
          audio(controls="controls")
            source(src=`/speak/sv-SK/${sv}.mp3` type="audio/mpeg")
