doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel="stylesheet" href="/css/skandinavisk.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
  body
    p
      form
        textarea#text(name="q") #{text}
        input#submit(type="submit" name="d" value="Translate")
        input#submit(type="submit" name="d" value="Skandinavisk understanding")
  
    if da && no && sv
      table
        tr
          td
            p 🇩🇰 #{da}
            if direction == 1
              audio(controls)
                source(src=`/speak/da-DK/${da}.mp3` type="audio/mpeg")

        tr
          td
            p 🇳🇴 #{no}
            if direction == 1
              audio(controls)
                source(src=`/speak/nb-NO/${no}.mp3` type="audio/mpeg")

        tr
          td
            p 🇸🇪 #{sv}
            if direction == 1
              audio(controls)
                source(src=`/speak/sv-SK/${sv}.mp3` type="audio/mpeg")
