doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel="stylesheet" href="/css/skandinavisk.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    meta(name="og:title" content=title)
    meta(name="og:description" content="Towards a common Scandinavian language")
    meta(name="og:image" content="/img/skandinavisk.png")
    meta(name="og:image:alt" content="Combined flags of Norway, Sweden and Denmark")

    title #{title}
  body
    p
      form
        textarea#text(name="q") #{text}
        input#submit(type="submit" name="d" value="Translate")
        input#submit(type="submit" name="d" value="Back-translate")
  
    if da && no && sv
      table
        tr
          td
            p 🇩🇰 #{da}
            if direction == 1
              audio(controls)
                source(src=`/speak/da-DK/${da.replaceAll('/', '')}.mp3` type="audio/mpeg")

        tr
          td
            p 🇳🇴 #{no}
            if direction == 1
              audio(controls)
                source(src=`/speak/nb-NO/${no.replaceAll('/', '')}.mp3` type="audio/mpeg")

        tr
          td
            p 🇸🇪 #{sv}
            if direction == 1
              audio(controls)
                source(src=`/speak/sv-SK/${sv.replaceAll('/', '')}.mp3` type="audio/mpeg")
